!!! 5
%html{ :lang => "en" }
  %head
    %meta{:charset =>"utf-8"}
    %title #{ values[:title] }#{ ' - ' + @options.title if @options.title }
    %meta{:name =>'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1'}

    %link{ :rel => "stylesheet", :href => "#{values[:relpath]}/css/bootstrap.min.css", :type => "text/css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "#{values[:relpath]}/css/application.css", :type => "text/css", :media => "screen" }
    %link{ :rel => "stylesheet", :href => "#{values[:relpath]}/css/coderay.css", :type => "text/css", :media => "screen" }
    %script{ :type => 'text/javascript', :src => "#{values[:relpath]}/js/jquery.js" }
    %script{ :type => 'text/javascript', :src => "#{values[:relpath]}/js/bootstrap.min.js" }
    %script{ :type => 'text/javascript', :src => "#{values[:relpath]}/js/index.js" }
    %script{ :type => 'text/javascript', :src => "#{values[:relpath]}/js/application.js" }

  %body{ :class => values[:classmod] ? 'class' : 'file' }


    #main
      .container#documentation
        = yield


